<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.BoardMapper">
    <!--
       mybatis-config.xml의 typeAlias에 등록해두지 않았다면

       <select id="selectMember" resultType="com.example.dto.MemberVO" >
           SELECT ID, PW ,NAME FROM TEST
       </select>

       이렇게 해야 한다.
   -->

    <!-- Select 문 -->
    <select id="selectBoard" resultType="BoardVO">
        SELECT * FROM notice
    </select>

    <!-- 회원가입(Insert) -->
    <insert id="insertBoard" parameterType="BoardVO" >
       insert into notice(writer, title, contents, refdate, count)
       values (#{writer}, #{title}, #{contents}, now(), 0)
    </insert>

    <update id="updateBoard" parameterType="BoardVO" >
        update notice
        set title = #{title}, contents =#{contents}, refdate = now()
        where no = #{no}
    </update>

</mapper>