<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.CommentMapper">

    <!-- Select 문 (Original) -->
    <!--    <select id="selectCommentAll" resultType="CommentVO">
            SELECT * FROM comments ORDER BY cmt_num
        </select>-->

    <!-- Select 문 -->
    <select id="selectCommentAll" resultType="CommentVO">
        select * from comments cmt, customer cus, company com
        where cmt.cus_num = cus.cus_num AND com.com_num = cus.com_num
        ORDER BY cmt_num
    </select>
    <select id="selectCommentbyPost" resultType="CommentVO">
        select * from comments
        where post_num = #{post_num}
    </select>

    <insert id="insertComment" parameterType="CommentVO" >
        insert into comments(cmt_num, post_num, cate, cus_num, cmt_cnt, cmt_date)
        values (cmt_seq.nextval, #{post_num, jdbcType=VARCHAR}, #{cate, jdbcType=VARCHAR},
                (select DISTINCT cus.cus_num
                 from customer cus, company com
                 where com.com_num = cus.com_num
                   AND com.com_name=#{com_name}
                   and cus.cus_name=#{cus_name}
                   and cus.cus_dep=#{cus_dep}
                   and cus.cus_position=#{cus_position}),

                #{cmt_cnt, jdbcType=VARCHAR}, to_char(sysdate, 'YYYY-MM-DD HH:MI:SS'))
    </insert>


    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="CommentVO">
        update comments
        set cmt_cnt = #{cmt_cnt, jdbcType=VARCHAR}
        where cmt_num = #{cmt_num, jdbcType=VARCHAR}
    </update>


    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        delete from comments where cmt_num = #{cmt_num, jdbcType=VARCHAR}
    </delete>
    <delete id="deleteCommentbyPost">
        delete from comments where post_num = #{post_num}
    </delete>

    <!-- 댓글 Count 1단계-->
    <!--
        <select id="countComment" resultType="int">
            select count(*) from comments
        </select>
        -->
    <!-- 댓글 Count 2단계 -->
    <select id="countComment" resultType="int" parameterType="int">
        select count(*) from comments where post_num >#{post_num}
    </select>


    <select id="selectCommentCus_num" resultType="int" parameterType="int">
        select cus_num
        from comments cmt, customer cus, company com
        where cmt.cus_num = cus.cus_num AND com.com_num = cus.com_num
          AND com.com_name=${com_name} and cus.cus_name=${cus_name} and cus.cus_dep=${cus_dep} and cus.cus_position=${cus_position}
    </select>


    <select id="selectComment_fromNew" resultType="CommentVO">
        select cmt_num, cmt_cnt, cmt_date, post_num, cate from comments
        where
                post_num in
                (
                    select post_num from
                        (
                            select post_num from
                                (select post_num, cus_num from normal
                                 union all
                                 select post_num, cus_num from risk
                                 union all
                                 select post_num, cus_num from event)
                            where cus_num = 1
                        )
                )
          AND
                cate in
                (
                    select cate from
                        (
                            select cate, cus_num from
                                (select cate, cus_num from normal
                                 union all
                                 select cate, cus_num from risk
                                 union all
                                 select cate, cus_num from event)
                            where cus_num = 1
                        )
                )

        order by cmt_date desc
    </select>

<!--    <select id="selectComment_fromNew" resultType="CommentVO">-->
<!--        /* 최신댓글5 출력, ver4 + 대댓글 */-->
<!--        select rownum, cmt_num, cmt_cnt, cmt_date, post_num, cate from-->
<!--            (-->
<!--                select cmt_num, cnt as cmt_cnt, date2 as cmt_date,-->
<!--                       post_num, cate-->
<!--                from (-->
<!--                         select cmt_num, cmt_cnt as cnt, cmt_date as date2, post_num, cate-->
<!--                         from comments-->
<!--                         where post_num in-->
<!--                               (-->
<!--                                   select post_num-->
<!--                                   from (-->
<!--                                            select post_num-->
<!--                                            from (select post_num, cus_num-->
<!--                                                  from normal-->
<!--                                                  union-->
<!--                                                  select post_num, cus_num-->
<!--                                                  from risk-->
<!--                                                  union-->
<!--                                                  select post_num, cus_num-->
<!--                                                  from event)-->
<!--                                            where cus_num =1-->
<!--                                        )-->
<!--                               )-->
<!--                           AND cate in-->
<!--                               (-->
<!--                                   select cate-->
<!--                                   from (-->
<!--                                            select cate, cus_num-->
<!--                                            from (select cate, cus_num-->
<!--                                                  from normal-->
<!--                                                  union-->
<!--                                                  select cate, cus_num-->
<!--                                                  from risk-->
<!--                                                  union-->
<!--                                                  select cate, cus_num-->
<!--                                                  from event)-->
<!--                                            where cus_num =1-->
<!--                                        )-->
<!--                               )-->

<!--                         union all-->

<!--                         select cmt_num,-->
<!--                                rcmt_cnt  as cnt,-->
<!--                                rcmt_date as date2,-->
<!--                                null      as post_num,-->
<!--                                null      as cate-->
<!--                         from re_comments-->
<!--                         where cmt_num in-->
<!--                               (-->
<!--                                   select cmt_num-->
<!--                                   from comments-->
<!--                                   where post_num in-->
<!--                                         (-->
<!--                                             select post_num-->
<!--                                             from (-->
<!--                                                      select post_num-->
<!--                                                      from (select post_num, cus_num-->
<!--                                                            from normal-->
<!--                                                            union-->
<!--                                                            select post_num, cus_num-->
<!--                                                            from risk-->
<!--                                                            union-->
<!--                                                            select post_num, cus_num-->
<!--                                                            from event)-->
<!--                                                      where cus_num =1-->
<!--                                                  )-->
<!--                                         )-->
<!--                                     AND cate in-->
<!--                                         (-->
<!--                                             select cate-->
<!--                                             from (-->
<!--                                                      select cate, cus_num-->
<!--                                                      from (select cate, cus_num-->
<!--                                                            from normal-->
<!--                                                            union-->
<!--                                                            select cate, cus_num-->
<!--                                                            from risk-->
<!--                                                            union-->
<!--                                                            select cate, cus_num-->
<!--                                                            from event)-->
<!--                                                      where cus_num =1-->
<!--                                                  )-->
<!--                                         )-->
<!--                               )-->
<!--                     )-->
<!--                order by cmt_date desc-->
<!--            )-->
<!--    </select>-->

</mapper>
