<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.FileMapper">

    <!--Customer-->
    <!-- Select 문 -->
    <select id="selectFile" resultType="FileVO">
        SELECT * FROM files
    </select>

    <!-- 게시물 작성(Insert) -->
    <insert id="insertFile" parameterType="FileVO" >
        insert into files(post_num , cate, file_name)
        values (#{post_num}, #{cate}, #{file_name})
    </insert>
    <select id="viewFiles" parameterType="int" resultType="FileVO">
        SELECT *
        FROM files
        WHERE post_num = ${n}
    </select>
    <select id="selectSeq" resultType="int">
        SELECT last_number
        FROM USER_SEQUENCES
        WHERE SEQUENCE_NAME = 'NOR_SEQ'
    </select>
    <select id="selectRiskSeq" resultType="int">
        SELECT last_number
        FROM USER_SEQUENCES
        WHERE SEQUENCE_NAME = 'RISK_SEQ'
    </select>

</mapper>