<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.NormalMapper">

    <!--Customer-->
    <!-- Select 문 -->
    <select id="selectPost" resultType="NormalVO">
        SELECT * FROM post
    </select>
    <!-- 공지사항 리스트 -->
    <select id="selectNoticeList" resultType="NormalVO">
        SELECT *
        FROM normal
        WHERE cate = 12
    </select>

    <!-- cate 별 전체 리스트-->
    <select id="selectAll" parameterType="int" resultType="NormalVO">
        SELECT *
        FROM normal
        WHERE cate = ${cate}
    </select>


    <!-- 게시물 작성(Insert) -->
    <insert id="insertPost" parameterType="NormalVO" >
        insert into post(p_num , p_caption, p_title, p_date, p_update_date, c_num, b_no)
        values (#{p_num}, #{p_caption}, #{p_title},#{p_date},#{p_update_date},#{c_num},#{b_no})
    </insert>
    <!-- 자료실 게시글 리스트 -->
    <select id="selectDCList" resultType="NormalVO">
        SELECT *
        FROM normal
        where cate = 13
    </select>
    <select resultType="NormalVO" id="viewPost">
        SELECT * FROM normal where post_num=#{post_num}
    </select>
</mapper>