<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.PostMapper">


    <select id="selectPost" resultType="NormalVO">
        SELECT * FROM normal
    </select>

    <select id="selectPrj_num" resultType="NormalVO">
        SELECT prj_name FROM project ORDER BY prj_num ASC
    </select>


    <!-- 게시물 작성(Insert) -->
    <insert id="insertPost" parameterType="NormalVO" >
        insert into normal(post_num,nor_tit,nor_cnt,nor_reg)
        values (nor_seq.nextval,#{nor_tit},#{nor_cnt},sysdate)
    </insert>

    <!-- 게시물 삭제제 -->
    <delete id="deletePost"> delete from normal where post_num=#{post_num} </delete>

    <select resultType="NormalVO" id="viewPost">
      SELECT * FROM normal where post_num=#{post_num}
    </select>

    <update id="updatePost" parameterType="NormalVO" >
        update normal
        set nor_tit = #{nor_tit}, nor_cnt =#{nor_cnt}, nor_reg=sysdate}
        where post_num=#{post_num}
    </update>



</mapper>