<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.NormalMapper">

    <!--Customer-->
    <!-- Select 문 -->
    <select id="selectPost" resultType="NormalVO">
        SELECT *
        FROM normal
    </select>
    <!-- 공지사항 리스트 -->
    <select id="selectNoticeList" resultType="NormalVO" parameterType="NormalVO">
        SELECT *
        FROM normal natural join project_detail
        WHERE cate = 12 and prj_num = #{prj_num}
        order by post_num asc
    </select>

    <!-- cate 별 전체 리스트-->
    <select id="selectAll" parameterType="int" resultType="NormalVO">
        SELECT n.post_num,n.cate,n.nor_tit,n.cus_num,n.nor_reg,n.nor_cnt,n.prj_num,c.cus_name,p.prj_name,c.cus_num,p.prj_num
        FROM normal n,customer c,project p
        WHERE cate = ${cate} and n.prj_num=p.prj_num and n.cus_num=c.cus_num
        ORDER BY post_num DESC
    </select>


    <!-- 게시물 작성(Insert) -->
    <insert id="insertPost" parameterType="NormalVO">
        insert into normal(post_num, cate, cus_num, prj_num, nor_tit, nor_cnt, nor_reg)
        values (nor_seq.nextval, #{cate}, #{cus_num}, #{prj_num}, #{nor_tit}, #{nor_cnt}, sysdate)
    </insert>
    <!-- 자료실 게시글 리스트 -->
    <select id="selectDCList" resultType="NormalVO">
        SELECT *
        FROM normal
        where cate = 13
    </select>
    <!-- 게시물 조회 -->
    <select id="viewPost" resultType="NormalVO">
        SELECT n.post_num,
               n.cate,
               n.nor_tit,
               n.cus_num,
               n.nor_reg,
               n.nor_cnt,
               n.prj_num,
               c.cus_name,
               p.prj_name,
               c.cus_num,
               p.prj_num
        FROM normal n,
             customer c,
             project p
        where post_num = #{post_num}
          and n.prj_num = p.prj_num
          and n.cus_num = c.cus_num
    </select>
    <!-- 게시물 삭제 -->
    <delete id="deletePost"> delete
                             from normal
                             where post_num = #{post_num} </delete>
    <!-- 게시물 수정하기-->
    <update id="updatePost" parameterType="NormalVO">
        update normal
        set nor_tit = #{nor_tit},
            nor_cnt =#{nor_cnt},
            nor_reg=sysdate
        where post_num = #{post_num}
    </update>

</mapper>