<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.Re_CommentMapper">

    <!--Customer-->
    <!-- Select 문 -->
    <select id="selectRe_CommentAll" resultType="Re_CommentVO">
        SELECT *
        from customer cus, re_comments rcmt, company com
        where cus.cus_num = rcmt.cus_num AND com.com_num = cus.com_num
        ORDER BY rcmt_num
    </select>

    <!-- 프로젝트 추가(Insert) -->
    <insert id="insertRe_Comment" parameterType="Re_CommentVO" >
        insert into re_comments(rcmt_num, cmt_num, cus_num, rcmt_cnt, rcmt_date)
        values (rcmt_seq.nextval, #{cmt_num, jdbcType=VARCHAR},
                (select DISTINCT cus.cus_num
                 from customer cus, company com
                 where com.com_num = cus.com_num
                   AND com.com_name=#{com_name}
                   and cus.cus_name=#{cus_name}
                   and cus.cus_dep=#{cus_dep}
                   and cus.cus_position=#{cus_position}),
                #{rcmt_cnt, jdbcType=VARCHAR}, to_char(sysdate,'YYYY-MM-DD HH:MI:SS'))
    </insert>

    <!-- 대댓글 수정 -->
    <update id="updateRe_Comment" parameterType="Re_CommentVO">
        update re_comments
        set rcmt_cnt = #{rcmt_cnt, jdbcType=VARCHAR}
        where rcmt_num = #{rcmt_num, jdbcType=VARCHAR}
    </update>

    <!-- 대댓글 삭제 -->
    <delete id="deleteRe_Comment">
        delete from re_comments where rcmt_num = #{rcmt_num, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteRe_CommentAll">
        delete from re_comments where cmt_num = #{cmt_num, jdbcType=VARCHAR}
    </delete>

</mapper>








