<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mark.mappers.TeamMapper">
    <!-- 팀원 수 조회(Select) -->
    <select id="countmember" resultType="TeammemberVO">
        SELECT count(*) cus_num ,team_num  FROM Teammember group by team_num ORDER BY team_num ASC
    </select>
    <!-- 팀 목록 조회(Select) -->
    <select id="selectTeam" resultType="TeamVO">
        SELECT * FROM Team ORDER BY team_num ASC
    </select>

    <!-- 팀 작성(Insert) -->
    <insert id="insertTeam" parameterType="TeamVO" >
        insert into Team(team_num,team_name,team_desc,c_num,prj_num)
        values (team_num.nextval,#{team_name},#{team_desc},#{c_num},#{prj_num})
    </insert>

    <!-- 팀 삭제(Delete) -->
    <delete id="deleteTeam"> delete from Team where team_num=#{team_num} </delete>
    <!-- 팀원 삭제(Delete) -->
    <delete id="deleteTeammember"> delete from Teammember where team_num=#{team_num} </delete>
    <!-- 팀 한개 정보 조회(Select) -->
    <select id="viewTeam" resultType="TeamVO">
        SELECT * FROM Team where team_num=#{team_num}
    </select>

    <!-- 팀원 조회(View) -->
    <select id="viewTeammember" resultType="TeammemberVO" >
      SELECT * FROM Teammember where team_num=#{team_num}
    </select>

    <!-- 팀 수정(Update) -->
    <update id="updateTeam" parameterType="TeamVO" >
        update Team
        set team_num = #{team_num}, team_name =#{team_name}, team_desc =#{team_desc}
        where team_num =#{team_num}
    </update>



    <!-- 유저 목록 조회(View) -->
    <select id="selectCustomer" resultType="CustomerVO" >
        SELECT * FROM Customer
    </select>




</mapper>