<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="Board.Dto.BoardVO" alias="BoardVO"/>
        <typeAlias type="Customer.Dto.CustomerVO" alias="CustomerVO"/>
        <typeAlias type="Customer.Dto.LoginDTO" alias="LoginDTO"/>
        <typeAlias type="Project.Dto.ProjectVO" alias="ProjectVO"/>
        <typeAlias type="Comment.Dto.CommentVO" alias="CommentVO"/>
        <typeAlias type="Re_Comment.Dto.Re_CommentVO" alias="Re_CommentVO"/>
        <typeAlias type="Post.Dto.NormalVO" alias="NormalVO"/>
        <typeAlias type="File.Dto.FileVO" alias="FileVO"/>
    </typeAliases>

    <typeHandlers> <!-- java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
        <typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler"/>
        <typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
    </typeHandlers>

</configuration>